.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer__inner {
    width: 264px;
}

.logo__studio--footer {
    color: #f4f4fd;
}

.footer__text {
    margin: 16px 0 0;
    color: #f4f4fd;
}