.header {
    border-bottom: 1px solid #e7e9fc;
    background-color: #ffffff;
}

.header__inner {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 24px 0;
}

.nav__list {
    display: flex;
    gap: 40px;
}

.logo__studio--header {
    color: #2e2f42;
}

.nav__link {
    color: #2e2f42;
    font-weight: 500;
    padding: 24px 0;
    display: block;
}

.nav__link:hover,
.nav__link:focus {
    color: #4d5ae5;
}

.contacts {
    margin-left: auto;
    display: flex;
    gap: 40px;
    font-style: normal;
}

.contacts__list {
    display: flex;
    gap: 40px;
}

.contacts__link {
    color: #434455;
}

.contacts__link:hover,
.contacts__link:focus {
    color: #4d5ae5;
}